<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<!-- templatemo 417 grill -->
<!--
Grill Template
http://www.templatemo.com/preview/templatemo_417_grill
-->
<head>
    <meta charset="utf-8">
    <title>Grill Restaurant Website Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">



    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/templatemo_style.css">
    <link rel="stylesheet" href="../css/templatemo_misc.css">
    <link rel="stylesheet" href="../css/flexslider.css">
    <link rel="stylesheet" href="../css/testimonails-slider.css">

    <script src="../js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
    <!--<script src="../js/vendor/d3.js"></script>-->
   
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js' charset="utf-8"></script>-->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

    <style>
        .ui-brush {
            background: #f8f8f8;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100px;
        }

        .brush .extent {
            stroke: #fff;
            fill-opacity: 0.125;
            shape-rendering: crispEdges;
        }
    </style>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <header>
        <div id="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="home-account">
                            <a href="#">Home</a>
                            <a href="#">My account</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cart-info">

                            <a href="http://spaceaidproject.eu/blog/">Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="#">
                                <img src="../images/logo_sa.jpg" class='main-logo' title="Grill Template by templatemo.com"
                                     alt="Grill Website Presenting Nature">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="main-menu">
                            <ul>
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="test.html">Visualizations</a></li>
                                <li><a href="../contact-us.html">The Project</a></li>
                                <li><a href="../about-us.html">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="social-bottom custom-social">
                            <ul>
                                <li><a href="https://www.facebook.com/pages/The-Space-Aid-Project/381586521993059" class="fa fa-facebook"></a></li>
                                <li><a href="https://twitter.com/Spaceaidproject" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-rss"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-content">
                        <h2>VISUALIZATIONS</h2>
                        <span>Home / <a href="test.html">VISUALIZATIONS</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="visualizaton-holder">
        <div class="container">
            <div class="row">
                <div class="product-item col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>Varna flooded areas july 2014</h3>
                                <div id="map-0" class="col-md-12 map-height-large dark"></div>
                                <!--<div id='brush' class='ui-brush'></div>-->
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                <div class="side-bar">
                                    <div class="news-letters">
                                        <h4>Select Layer</h4>
                                     <!--   <div class="archives-list">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>July (12)</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>August (18)</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>September (72)</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>October (63)</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>November (48))</a></li>
                                                <li><a href="#"><i class="fa fa-angle-right"></i>December (24)</a></li>
                                            </ul>
											../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_points_of_interest.geojson",
										../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_settlements_point.geojson",
										../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_transportation_line.geojson",
										../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_utilities_poly.geojson"];
                                        </div>-->
										
										
										
										
										<select id="ddlLayers" >
										  <option value="../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_hydrology_line.geojson">Layer 1</option>
										  <option value="../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_points_of_interest.geojson">Layer 2</option>
										  <option value="../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_hydrology_poly.geojson">Layer 3</option>
										  <option value="../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_settlements_point.geojson">Layer 4</option>
										  <option value="../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_transportation_line.geojson">Layer 5</option>
										  <option value="../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_utilities_poly.geojson">Layer 6</option>
										</select>
                                    </div>
                                    
                                 
                                </div>
                            </div>
                        </div>
						<div class="row">
                            <h3>Varna flooded areas july 2014</h3>
                            <div id="map-1" class="col-md-12 map-height-large dark"></div>
						</div>
						<div class="row">
                            <h3>Varna flooded areas july 2014</h3>
                            <div id="map-2" class="col-md-12 map-height-large dark"></div>
						</div>
						<div class="row">
                            <h3>Varna flooded areas july 2014</h3>
                            <div id="map-3" class="col-md-12 map-height-large dark"></div>
						</div>
						<div class="row">
                            <h3>Varna flooded areas july 2014</h3>
                            <div id="map-4" class="col-md-12 map-height-large dark"></div>
						</div>
						<div class="row">
                            <h3>Varna flooded areas july 2014</h3>
                            <div id="map-5" class="col-md-12 map-height-large dark"></div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="top-footer">
                <div class="row">
                    <div class="col-md-9">
                        <div class="subscribe-form">
                            <span>Get in touch with us</span>
                            <form method="get" class="subscribeForm">
                                <input id="subscribe" type="text" />
                                <input type="submit" id="submitButton" />
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="social-bottom">
                            <span>Follow us:</span>
                            <ul>
                                <li><a href="https://www.facebook.com/pages/The-Space-Aid-Project/381586521993059" class="fa fa-facebook"></a></li>
                                <li><a href="https://twitter.com/Spaceaidproject" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-rss"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="about">
                            <h4 class="footer-title">About Grill</h4>
                            <p>
                                Grill is <a rel="nofollow" href="http://www.templatemo.com">free HTML5 website template</a> by templatemo and it is a free responsive bootstrap layout that can be applied for any purpose.
                                <br><br>Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for photos used in this template. Nam commodo erat quis ligula placerat viverra.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="shop-list">
                            <h4 class="footer-title">Shop Categories</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-right"></i>New Grill Menu</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Healthy Fresh Juices</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Spicy Delicious Meals</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Simple Italian Pizzas</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Pure Good Yogurts</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i>Ice-cream for kids</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="recent-posts">
                            <h4 class="footer-title">Recent posts</h4>
                            <div class="recent-post">
                                <div class="recent-post-thumb">
                                    <img src="../images/recent-post1.jpg" alt="">
                                </div>
                                <div class="recent-post-info">
                                    <h6><a href="#">Delicious and Healthy Menus</a></h6>
                                    <span>24/12/2084</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post-thumb">
                                    <img src="../images/recent-post2.jpg" alt="">
                                </div>
                                <div class="recent-post-info">
                                    <h6><a href="#">Simple and effective meals</a></h6>
                                    <span>18/12/2084</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="more-info">
                            <h4 class="footer-title">More info</h4>
                            <p>Sed dignissim, diam id molestie faucibus, purus nisl pretium quam, in pulvinar velit massa id elit.</p>
                            <ul>
                                <li><i class="fa fa-phone"></i>010-020-0340</li>
                                <li><i class="fa fa-globe"></i>123 Dagon Studio, Yakin Street, Digital Estate</li>
                                <li><i class="fa fa-envelope"></i><a href="#">info@company.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <p>Copyright © 2084 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com --></p>
            </div>

        </div>
    </footer>
	    <script src="../js/vendor/jquery-1.11.0.min.js"></script>
    <script src="../js/vendor/jquery.gmap3.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>
    <!--<iframe width='100%' height='500px' frameborder='0'
            src='https://a.tiles.mapbox.com/v4/spaceaid.k03hjd0g/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic3BhY2VhaWQiLCJhIjoiMVNQXzJyayJ9.zXReVNp_20W9Zk2BpwDBPQ'></iframe>-->
			<script>
				//var maps = ["../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_hydrology_line.geojson",
				//			"../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_hydrology_poly.geojson",
				//			"../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_points_of_interest.geojson",
				//			"../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_settlements_point.geojson",
				//			"../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_transportation_line.geojson",
				//			"../JSON/EMSR092_01VARNA_00REFERENCE_01DETAIL_v1_8000_utilities_poly.geojson"];
				//
				L.mapbox.accessToken = 'pk.eyJ1Ijoic3BhY2VhaWQiLCJhIjoiMVNQXzJyayJ9.zXReVNp_20W9Zk2BpwDBPQ';
				var mapbox = L.mapbox.map("map-0", 'spaceaid.k03hjd0g');
				
				$("#ddlLayers").on("change",function(){
					//mapbox.removeLayer()
					var jsonValue  = $("#ddlLayers").val();
					d3.json(jsonValue, function(data) {
						L.mapbox.featureLayer(data.features).addTo(mapbox);
					});
					
				});
				
			//	for (var i = 0; i < maps.length; i++) {
			//		var mapContainer = "map-" + i;
			//		var mapbox = L.mapbox.map(mapContainer, 'spaceaid.k03hjd0g');
			//		d3Initializer(i, mapbox);
			//	}
			//	
			//	function d3Initializer(index, map) {
			//		d3.json(maps[index], function(data) {
			//			L.mapbox.featureLayer(data.features).addTo(map);
			//		});
			//	}
			</script>



</body>
</html>