<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<!-- templatemo 417 grill -->
<!--
Grill Template
http://www.templatemo.com/preview/templatemo_417_grill
-->
<head>
    <meta charset="utf-8">
    <title>Space Aid Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">



    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/templatemo_style.css">
    <link rel="stylesheet" href="../css/templatemo_misc.css">
    <link rel="stylesheet" href="../css/flexslider.css">
    <link rel="stylesheet" href="../css/testimonails-slider.css">
	 <link  href="../css/menu.css" rel="stylesheet">

    <script src="../js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

    <style>
	
    </style>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

   
     <header>	
		<div class="container">
				<div class="navbar navbar-static-top">
					<div class="navigation">
						<nav>
						<ul class="nav topnav bold">
							<li class="dropdown">
							<a href="../index.html">Home </a>
							</li>
							<li class="dropdown active">
							<a href="#">Visualizations <i class="icon-angle-down"></i></a>
							<ul style="display: none;" class="dropdown-menu bold">
								<li><a href="varna-floods.html">Varna</a></li>
								<li><a href="dobrich-floods.html">Dobrich</a></li>
								<li><a href="dobrich-floods_mirela.html">Dobrich (colorfull)</a></li>
								<li><a href="kilifarevo-floods.html">Kilifarevo</a></li>

							
							</ul>
							</li>

							
							<li class="dropdown">
							<a href="http://spaceaidproject.eu/blog/">Blog </a>
						
							</li>
							<li>
							<a href="http://spaceaidproject.eu/blog/?page_id=15">About us</a>
							</li>
						</ul>
						</nav>
					</div>
					
					<!-- end navigation -->
				</div>
			</div>
			</div>
		</div>
	</header>	
    <div id="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-content">
                        <h2>Kilifarevo flooded areas </h2>
                        <span>Home / <a href="kilifarevo-floods.html">Kilifarevo</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="visualizaton-holder">
        <div class="container">
            <div class="row">
                <div class="product-item col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                               
								<div id="map-holder">
                                <div id="map-0" class="col-md-12 map-height-large dark"></div>
								</div>
                                <!--<div id='brush' class='ui-brush'></div>-->
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                <div class="side-bar">
                                    <div class="news-letters">
                                        <h4>Select Single Layer</h4>
                                    
										
										
										<select id="ddlSinleLayer"  class="select_join" >
										  <option index="land_cover_corine" value="../JSON/Land_Cover_Corine/Kilifarevo/KIL_Zone.geojson">Land Cover</option>
										  <option index="crisis_info_poly" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_crisis_information_poly.geojson">Main Flooded Areas</option>
										  <option index="crisis_info_pt" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_crisis_information_point.geojson">Flooded Locations</option>
										  <option index="hydro_poly" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_hydrology_poly.geojson">Hydrology Polygons</option>
										  <option index="pt_interest" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_points_of_interest.geojson">Points of Interest</option>
										  <option index="settle_pt" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_settlements_point.geojson">Settlement Points</option>
										  <option index="trans_line" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_transportation_line.geojson">Street Grid</option>
										  <option index="util_poly" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_utilities_poly.geojson">Utilities Points</option>
										  
										</select>
                                    </div>
									
                                     <div class="news-letters">
                                        <h4>Select Multiple Layers</h4>
                                    
										
										
										<select id="ddlMultipleLayers"  class="select_join" >
										  <option index="land_cover_corine" value="../JSON/Land_Cover_Corine/Kilifarevo/KIL_Zone.geojson">Land Cover</option>
										  <option index="crisis_info_poly" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_crisis_information_poly.geojson">Main Flooded Areas</option>
										  <option index="crisis_info_pt" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_crisis_information_point.geojson">Flooded Locations</option>
										  <option index="hydro_poly" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_hydrology_poly.geojson">Hydrology Polygons</option>
										  <option index="pt_interest" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_points_of_interest.geojson">Points of Interest</option>
										  <option index="settle_pt" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_settlements_point.geojson">Settlement Points</option>
										  <option index="trans_line" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_transportation_line.geojson">Street Grid</option>
										  <option index="util_poly" value="../JSON/Copernicus/Kilifarevo/KILIFAREVO_utilities_poly.geojson">Utilities Points</option>
										</select>
                                    </div>
                                 
                                </div>
								 <div class="side-bar">
                                    <input type="button" class= "btn btn-primary btn-large" id="btnDeleteAllLayers" value="Remove all layers"/>
                                    
                                 
                                </div>
                            </div>
                        </div>
					
                    </div>
                </div>
            </div>
        </div>
    </div>
 	<footer>
                <div class="container">
                 
                    <div class="bottom-footer">
                        <p>Copyright © 2014 <a href="#">Spaceaid team</a> </p>
                    </div>
                    
                </div>
            </footer>
	    <script src="../js/vendor/jquery-1.11.0.min.js"></script>
    <script src="../js/vendor/jquery.gmap3.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/jStorage.js"></script>
	<script src="../js/menu.js"></script>
	
			<script>
			
				
				var layer={};
				var allLayers = [];
				L.mapbox.accessToken = 'pk.eyJ1Ijoic3BhY2VhaWQiLCJhIjoiMVNQXzJyayJ9.zXReVNp_20W9Zk2BpwDBPQ';
				var mapbox = L.mapbox.map("map-0", 'spaceaid.k41knmap').setView([42.9875368, 25.61369680000007], 13);
				
				$("#ddlSinleLayer").on("change",function(){
		    	mapbox.removeLayer(layer);
				
				
					var jsonPath  = $("#ddlSinleLayer").val();
					addLayer(jsonPath);
					
				});
				
					$("#ddlMultipleLayers").on("change",function(){

					var jsonPath  = $("#ddlMultipleLayers").val();
					addLayer(jsonPath);
					
				});
				
				
				$("#btnDeleteAllLayers").on("click",function(){
					for(i=0;i<allLayers.length;i++){
						mapbox.removeLayer(allLayers[i]);
					}
				});
				
//===========================================================================
//Function to load each layer
				function addLayer(jsonPath,jsonIndex){
					
					d3.json(jsonPath, function(data) {
						  layer =L.mapbox.featureLayer().addTo(mapbox)
						  	.on('layeradd', function(e) {
								var marker = e.layer;
								console.log(marker);
								console.log(marker.feature.geometry.type);



//----------------------------------					
//Setting the style of POINT objects
								if (marker.feature.geometry.type == 'Point'){
									switch(jsonIndex) {
										case 'crisis_info_pt':
											color='#ff8888';
											break;
										case 'pt_interest':
											color='#75ad3e'
											break;
										case 'settle_pt':
											color='#03c6ff'
											break;
									}
									marker.setIcon(L.mapbox.marker.icon({
										'marker-color': color,
										'marker-size': 'large'
									}));	
								}
//----------------------------------	



//------------------------------------	
//Setting the style of POLYGON objects								
								if (marker.feature.geometry.type == 'Polygon'){
									console.log(L.mapbox);
									switch(jsonIndex) {
										case 'land_cover_corine':
											lineColor='#ffdb00';
											fillColor='#ff8888';
											break;
										case 'crisis_info_poly':
											lineColor='#ff8888';
											fillColor='#75ad3e';
											break;
										case 'hydro_poly':
											lineColor='#75ad3e';
											fillColor='#03c6ff';
											break;
										case 'util_poly':
											lineColor='#03c6ff';
											fillColor='#ffdb00';
											break;
									}
									
                     			 	layer.setStyle({
                            			weight: 4,
                            			opacity: 0.8,
                            			color: lineColor,
                            			//dashArray: '3',//punktirano
                           				fillOpacity: 0.6,
                          				fillColor: fillColor
                       			 	});
								}
//-------------------------------								



//------------------------------------	
//Setting the style of LINESTRING objects								
								if (marker.feature.geometry.type == 'LineString'){
									console.log(L.mapbox);
									switch(jsonIndex) {
										case 'trans_line':
											lineColor='#03c6ff';
											fillColor='#ffdb00';
											break;
									}
									
                     			 	layer.setStyle({
                            			weight: 4,
                            			opacity: 0.6,
                            			color: lineColor,
                            			//dashArray: '3',//punktirano
                            			fillOpacity: 0.6,
                          				fillColor: fillColor
                       			 	});
								}
//-------------------------------
									
							})//END .on('layeradd')
							allLayers.push(layer);
							layer.setGeoJSON(data.features);
				
					});
				
				}

			</script>



</body>
</html>